@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    overflow: hidden;

    height: 100vh;
    width: 100vw;

    margin: 0;
    padding: 0;

    font-family: 'Lato', sans-serif;
}

#canvas {
    display: block;
    z-index: 0;

    height: 100vh;
    width: 100vw;
}

#control-panel {
    position: fixed;
    top: 0;
    right: 0;

    display: block;
    z-index: 1;

    height: 100vh;
    width: 75px;

    margin: 0;
    padding: 5px;

    background-color: aliceblue;
    align-content: center;
    text-align: center;
}

#components {
    position: relative;
    top: 0;

    display: block;

    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;
    padding-top: 10px;

    list-style-type: none;
}

#components li button {
    width: 50px;
    height: 25px;

    margin-bottom: 10px;

    background-color: white;
    color: black;

    border: none;
}

#components li button:hover {
    cursor: grab;
}