# Python artifacts
__pycache__/
*.pyc
.ipynb_checkpoints/

# Local testing files
test.py
test.ipynb

# Logging
*.log

# Latex/Latex Workshop
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.gz
*.toc
*.pdf
*.synctex*

# Bibtex
*.bbl
*.bcf
*.blg
*.run.xml